.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.imageinpo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 90%;
    height: 60%;
    border: 1px solid var(--color-accent);
    border-radius: 5px;
    background-color: var(--color-white);
    margin-top: 60px;
}

.image {
    max-width: 300px;
    max-height: 300px;
    margin-top: 20px;
}

.textbox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 50%;
    height: 10%;
}

.title {
    font-weight: bold;
}

.startbutton {
    max-width: 800px;
    min-width: 300px;
    width: 30%;
    height: 10%;
    min-height: 80px;
    max-height: 170px;
    outline: none;
    color: var(--color-white);
    background: var(--color-accent);
    border-radius: 50px;
}

.saveform {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 10%;
    margin-top: 5px;
}

.resubmitbutton {
    width: 45%;
    height: 60%;
    border: 1px solid var(--color-accent);
    border-radius: 10px;
    color: var(--color-accent);
    background: var(--color-white);
}

.savebutton {
    width: 45%;
    height: 60%;
    border-radius: 10px;
    color: var(--color-white);
    background: var(--color-accent);
    outline: none;
}