.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.id {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    min-width: 600px;
    height: 20%;
    min-height: 100px;
    max-height: 170px;
    width: 100%;
    border: 1px solid var(--color-accent);
    border-radius: 12px;
    background-color: var(--color-white);
    overflow-y: scroll;
}

.line {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    color: var(--color-accent);
    width: 90%;
    border-bottom: 1px solid var(--color-line);
}

.Link {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 800px;
    min-width: 600px;
    padding: 5%;
    border-bottom: 1px solid var(--color-text);

}

.idfind {
    padding-right: 30px;
    border-right: 1px solid var(--color-text);
    color: var(--color-accent);
}

.pwfind {
    padding-left: 30px;
    color: var(--color-accent);
}